minetest/debug.txt
minetest/minetest.conf
minetest/cache/
minetest/worlds/*
minetest/games/*
minetest/mods/
!minetest/games/mineclone-survey
!minetest/worlds/mineclone-survey
!minetest\builtin\game\item.lua
!minetest\builtin\game\chat.lua
